<h2>Add your product!</h2>
<form>
  <div class='form-group'>
    <label for='productName'>Product title</label>
    <input class='form-control' name='productName' id='productName' />
    <label for='productDescription'>Product description</label>
    <input
      class='form-control'
      name='productDescription'
      id='productDescription'
    />
    <label for='productCode'>Product code</label>
    <input class='form-control' name='productCode' id='productCode' />
    <label for='productStock'>Product stock</label>
    <input class='form-control' name='productStock' id='productStock' />
    <label for='productPrice'>Product price</label>
    <input class='form-control' name='productPrice' id='productPrice' />
    <button type='submit' value='send' id='button'>CREATE PRODUCT</button>
  </div>
</form>